/* make tabs not overlap when there are many */
tab.tabbrowser-tab[visuallyselected="true"] {
  min-width: auto !important;
}


/* hide the three dots (I forgot which three dots) */
#pageActionButton {
  display: none !important;
}

/* hide overflow scrollbuttons(?) (the min-width patches should make them largely unnecessary)*/
tabbrowser toolbarbutton[class^="scrollbutton"],
#TabsToolbar toolbarbutton[class^="scrollbutton"]
{
    display: none !important;
}

/* forgot what this is */
/*
#tabbrowser-tabs ~ #alltabs-button {display:none!important;}
*/

/* style the dropmarker so that it is not invisible */
.urlbar-history-dropmarker {
  list-style-image: url(chrome://global/skin/icons/arrow-down.svg) !important;
  /*transition: opacity 0.15s ease !important;*/
  margin-right: 4px !important;
  height: 32px !important;
}

.urlbar-history-dropmarker:hover {
  background: color-mix(in srgb, currentColor 17%, transparent);
}
  /*background: grey;*/
